body {
    margin: 0;
    background-color: black;
    font-family: "Archivo", Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.image-container {
    flex: 55%;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.content-container {
    flex: 45%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 50px;
    padding-left: 36px;
    color: white;
}

.logo {
    fill: white;
    position: absolute;
    right: 63%;
    top: 25%;
    height: 430px;
}

.horizontal-line {
    width: 165px;
    height: 1px;
    background-color: rgb(57, 56, 56);
    margin-right: 10px;
    margin-left: 10px;
}

.break-line {
    display: flex;
    align-items: center;
}

.buttons {
    width: 380px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-width: 0;
}

.sign-up-text {
    max-width: 380px;
    margin-bottom: 20px;
    padding-top: 8px;
    font-size: 15px;
    color: rgb(113, 118, 123);
}

.blueText {
    color: rgb(29, 155, 240);
}

.custom-button {
    width: 380px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 10px 50px;
    margin-top: 20px;
    border: 1px solid rgb(83, 100, 113);
    color: rgb(29, 155, 240);
    background-color: transparent;
}

.navbarLinks {
    color: #71767B;
    font-size: 16px;
    padding-right: 20px;
}